.app {
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("./assets/bayern-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top; 
}

.spinner {
  height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.vote-button {
  text-align: center;
}

.chart {
  margin-left: 80px;
  margin-right: 80px;
}

#personalausweis {
  width: 200px;
  margin: auto;
  display: block;
}
