.app {
  padding-top: 80px;
  padding-bottom: 50px;
  min-height: 540px;
}
@media (min-width: 768px) {
  .app {
    background-image: url('./assets/bayern-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
  }
}

/*
 * Change height of Bootstrap Navbar
 */
.navbar {
  min-height: 66px;
}
.navbar-brand {
  padding: 0 15px;
  height: 66px;
  line-height: 66px;
}
.navbar-toggle {
  /* (66px - button height 34px) / 2 = 16px */
  margin-top: 16px;
  padding: 9px 10px !important;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (66px - line-height of 27px) / 2 = 19.5px */
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    line-height: 27px;
  }
}

/*
 * Two Column Tab Layout
 */
.two-column-tab-content > * {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .two-column-tab-content > *:first-child {
    width: 50%;
    overflow: hidden;
    position: fixed;
  }
  .two-column-tab-content > *:last-child {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
  }
}

/*
 * Custom Styles
 */
.bayern-map,
.bayern-map * {
  width: 100%;
  height: auto;
}

.spinner {
  height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

@media (min-width: 1200px) {
  .chart {
    margin-left: 50px;
    margin-right: 50px;
  }
}

#personalausweis {
  width: 220px;
}
