# Rename this file to '.env'
# Do not commit your '.env' file!
# Keep all local configuration and passwords in this file

DATABASE_URL=
DATABASE_PORT=39015
DATABASE_USER=
DATABASE_PASSWORD=

BACKEND_URL=localhost
BACKEND_PORT=8000
